.container{
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}


@for $i from 1 through 12{
  @for $j from 1 through $i{
     .col-#{$j}-of-#{$i}{ 
        flex: 0 0 calc(100% / #{$i} * #{$j}   - #{$gutter-vertical} * 2);
        margin: $gutter-horizontal $gutter-vertical;

        @include respond(sm) {
        flex: 0 0 calc(100% - #{$gutter-vertical} * 2) !important;}

        &--no-margin{
           position: relative;
           flex: 0 0 calc(100% / #{$i} * #{$j});
           margin: 0 !important;
        }
  }
}

@for $i from 1 through 12{
  @for $j from 1 through $i{
     .col-#{$j}-of-#{$i}-not-responsive{ 
        flex: 0 0 calc(100% / #{$i} * #{$j}   - #{$gutter-vertical} * 2);
        margin: $gutter-horizontal $gutter-vertical;
     }
  }
}
}