@mixin line {
  position: relative;
  z-index: 3;
  max-width: 100%;
  background: black;
  border: none;
  box-sizing: border-box;
  transform-origin: left;
}

.line-hair{
  height: 1px;
  @include line;
}

.line-regular{
  height: 1rem;
  @include line;
}

.line-large{
  height: .5rem;
  @include respond(sm) {height: .3rem;} 
  @include line;
  
}