.spacing-small{
  height: calc(#{$gutter-vertical} / 2);
  display: block;
}

.spacing-regular{
  height: $gutter-vertical;
  display: block;
}

.spacing-large{
  height: calc(#{$gutter-vertical} * 4);
  
  @include respond(sm) { height:calc(#{$gutter-vertical * 2})}
}

.spacing-xl{
  height: calc(#{$gutter-vertical} * 8 );
  display: block;
  @include respond(sm) { height: calc(#{$gutter-vertical} * 2 )}
}