.skills{
  &__title{
    //border-bottom: 1px solid black;
    text-decoration: underline;
  }

  &__item{
    display: inline-block;

    &:not(:last-child):after{
      content: ", ";
      white-space: pre;
    }
  }
}