@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* *::-webkit-scrollbar,
*::after *::-webkit-scrollbar,
*::before *::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 2000px) {
  html {
    font-size: 110%;
  }
}

@media only screen and (max-width: 2000px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  position: relative;
  display: inline-block;
  overflow-y: hidden;
}

@media only screen and (max-width: 768px) {
  .no-mobile {
    display: none;
  }
}

.no-desktop {
  display: none;
}

@media only screen and (max-width: 768px) {
  .no-desktop {
    display: initial;
  }
}

@font-face {
  font-family: 'euclid_flexbold';
  src: url("../../assets/fonts/euclidflex-bold-webfont.woff") format("woff"), url("../../assets/fonts/euclidflex-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'euclid_flexregular';
  src: url("../../assets/fonts/EuclidFlex-Regular_webfont.woff2") format("woff2"), url("../../assets/fonts/euclidflex-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.primary-heading {
  font-family: 'euclid_flexbold';
  text-transform: uppercase;
  font-size: 14.552rem;
  line-height: 1;
}

.primary-heading--bold {
  font-family: 'euclid_flexbold';
}

@media only screen and (max-width: 768px) {
  .primary-heading {
    font-size: 3.815rem;
  }
}

.secondary-heading {
  font-family: 'euclid_flexregular';
  text-transform: uppercase;
  font-size: 4.768rem;
  line-height: 1;
}

.secondary-heading--bold {
  font-family: 'euclid_flexbold';
}

@media only screen and (max-width: 768px) {
  .secondary-heading {
    font-size: 1.563rem;
  }
}

.tertiary-heading {
  font-family: 'euclid_flexregular';
  text-transform: uppercase;
  font-size: 5.96rem;
  line-height: 1;
}

.tertiary-heading--lowercase {
  text-transform: none;
}

.tertiary-heading--bold {
  font-family: 'euclid_flexbold';
}

@media only screen and (max-width: 768px) {
  .tertiary-heading--bold {
    font-family: 'euclid_flexregular';
  }
}

@media only screen and (max-width: 768px) {
  .tertiary-heading {
    font-size: 1.563rem;
    text-transform: initial;
    line-height: 1.1;
  }
}

.quartary-heading {
  font-family: 'euclid_flexregular';
  font-size: 1.953rem;
  line-height: 1;
  display: inline;
}

.quartary-heading a:hover {
  text-decoration: underline;
}

.quartary-heading a::before {
  content: "↳ ";
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .quartary-heading {
    font-size: 1.25rem;
  }
}

.regular-text {
  font-family: 'euclid_flexregular';
  font-size: 1.25rem;
}

.regular-text--bold {
  font-family: 'euclid_flexbold';
}

@media only screen and (max-width: 768px) {
  .regular-text {
    font-size: .8rem;
    line-height: 1.2;
  }
}

.small-text {
  font-family: 'euclid_flexregular';
  font-size: 1rem;
}

.small-text--bold {
  font-family: 'euclid_flexbold';
}

@media only screen and (max-width: 768px) {
  .small-text {
    font-size: .8rem;
    line-height: 1.2;
  }
}

.openTypeStyle1 {
  font-feature-settings: "ss01";
}

.openTypeStyle2 {
  font-feature-settings: "ss02";
}

.openTypeStyle3 {
  font-feature-settings: "ss03";
}

.openTypeStyle4 {
  font-feature-settings: "ss04";
}

.openTypeStyle5 {
  font-feature-settings: "ss05";
}

.openTypeStyle6 {
  font-feature-settings: "ss06";
}

.openTypeStyle7 {
  font-feature-settings: "ss07";
}

.openTypeStyle11 {
  font-feature-settings: 'ss11';
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 110rem;
}

@media only screen and (max-width: 768px) {
  .row {
    max-width: calc(100%);
  }
}

.col-1-of-1 {
  flex: 0 0 calc(100% / 1 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-1 {
    flex: 0 0 100%;
  }
}

.col-1-of-1--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 1 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-1--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-2 {
  flex: 0 0 calc(100% / 2 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-2 {
    flex: 0 0 100%;
  }
}

.col-1-of-2--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 2 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-2--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-2 {
  flex: 0 0 calc(100% / 2 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-2 {
    flex: 0 0 100%;
  }
}

.col-2-of-2--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 2 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-2--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-3 {
  flex: 0 0 calc(100% / 3 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-3 {
    flex: 0 0 100%;
  }
}

.col-1-of-3--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 3 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-3--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-3 {
  flex: 0 0 calc(100% / 3 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-3 {
    flex: 0 0 100%;
  }
}

.col-2-of-3--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 3 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-3--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-3 {
  flex: 0 0 calc(100% / 3 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-3 {
    flex: 0 0 100%;
  }
}

.col-3-of-3--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 3 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-3--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-4 {
  flex: 0 0 calc(100% / 4 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-4 {
    flex: 0 0 100%;
  }
}

.col-1-of-4--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 4 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-4--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-4 {
  flex: 0 0 calc(100% / 4 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-4 {
    flex: 0 0 100%;
  }
}

.col-2-of-4--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 4 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-4--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-4 {
  flex: 0 0 calc(100% / 4 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-4 {
    flex: 0 0 100%;
  }
}

.col-3-of-4--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 4 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-4--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-4-of-4 {
  flex: 0 0 calc(100% / 4 * 4   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-4-of-4 {
    flex: 0 0 100%;
  }
}

.col-4-of-4--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 4 * 4);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-4-of-4--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-5 {
  flex: 0 0 calc(100% / 5 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-5 {
    flex: 0 0 100%;
  }
}

.col-1-of-5--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 5 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-5--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-5 {
  flex: 0 0 calc(100% / 5 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-5 {
    flex: 0 0 100%;
  }
}

.col-2-of-5--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 5 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-5--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-5 {
  flex: 0 0 calc(100% / 5 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-5 {
    flex: 0 0 100%;
  }
}

.col-3-of-5--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 5 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-5--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-4-of-5 {
  flex: 0 0 calc(100% / 5 * 4   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-4-of-5 {
    flex: 0 0 100%;
  }
}

.col-4-of-5--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 5 * 4);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-4-of-5--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-5-of-5 {
  flex: 0 0 calc(100% / 5 * 5   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-5-of-5 {
    flex: 0 0 100%;
  }
}

.col-5-of-5--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 5 * 5);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-5-of-5--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-6 {
  flex: 0 0 calc(100% / 6 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-6 {
    flex: 0 0 100%;
  }
}

.col-1-of-6--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 6 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-6--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-6 {
  flex: 0 0 calc(100% / 6 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-6 {
    flex: 0 0 100%;
  }
}

.col-2-of-6--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 6 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-6--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-6 {
  flex: 0 0 calc(100% / 6 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-6 {
    flex: 0 0 100%;
  }
}

.col-3-of-6--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 6 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-6--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-4-of-6 {
  flex: 0 0 calc(100% / 6 * 4   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-4-of-6 {
    flex: 0 0 100%;
  }
}

.col-4-of-6--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 6 * 4);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-4-of-6--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-5-of-6 {
  flex: 0 0 calc(100% / 6 * 5   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-5-of-6 {
    flex: 0 0 100%;
  }
}

.col-5-of-6--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 6 * 5);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-5-of-6--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-6-of-6 {
  flex: 0 0 calc(100% / 6 * 6   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-6-of-6 {
    flex: 0 0 100%;
  }
}

.col-6-of-6--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 6 * 6);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-6-of-6--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-7 {
  flex: 0 0 calc(100% / 7 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-7 {
    flex: 0 0 100%;
  }
}

.col-1-of-7--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 7 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-7--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-7 {
  flex: 0 0 calc(100% / 7 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-7 {
    flex: 0 0 100%;
  }
}

.col-2-of-7--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 7 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-7--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-7 {
  flex: 0 0 calc(100% / 7 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-7 {
    flex: 0 0 100%;
  }
}

.col-3-of-7--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 7 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-7--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-4-of-7 {
  flex: 0 0 calc(100% / 7 * 4   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-4-of-7 {
    flex: 0 0 100%;
  }
}

.col-4-of-7--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 7 * 4);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-4-of-7--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-5-of-7 {
  flex: 0 0 calc(100% / 7 * 5   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-5-of-7 {
    flex: 0 0 100%;
  }
}

.col-5-of-7--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 7 * 5);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-5-of-7--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-6-of-7 {
  flex: 0 0 calc(100% / 7 * 6   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-6-of-7 {
    flex: 0 0 100%;
  }
}

.col-6-of-7--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 7 * 6);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-6-of-7--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-7-of-7 {
  flex: 0 0 calc(100% / 7 * 7   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-7-of-7 {
    flex: 0 0 100%;
  }
}

.col-7-of-7--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 7 * 7);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-7-of-7--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-8 {
  flex: 0 0 calc(100% / 8 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-8 {
    flex: 0 0 100%;
  }
}

.col-1-of-8--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 8 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-8--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-8 {
  flex: 0 0 calc(100% / 8 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-8 {
    flex: 0 0 100%;
  }
}

.col-2-of-8--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 8 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-8--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-8 {
  flex: 0 0 calc(100% / 8 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-8 {
    flex: 0 0 100%;
  }
}

.col-3-of-8--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 8 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-8--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-4-of-8 {
  flex: 0 0 calc(100% / 8 * 4   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-4-of-8 {
    flex: 0 0 100%;
  }
}

.col-4-of-8--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 8 * 4);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-4-of-8--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-5-of-8 {
  flex: 0 0 calc(100% / 8 * 5   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-5-of-8 {
    flex: 0 0 100%;
  }
}

.col-5-of-8--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 8 * 5);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-5-of-8--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-6-of-8 {
  flex: 0 0 calc(100% / 8 * 6   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-6-of-8 {
    flex: 0 0 100%;
  }
}

.col-6-of-8--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 8 * 6);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-6-of-8--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-7-of-8 {
  flex: 0 0 calc(100% / 8 * 7   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-7-of-8 {
    flex: 0 0 100%;
  }
}

.col-7-of-8--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 8 * 7);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-7-of-8--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-8-of-8 {
  flex: 0 0 calc(100% / 8 * 8   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-8-of-8 {
    flex: 0 0 100%;
  }
}

.col-8-of-8--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 8 * 8);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-8-of-8--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-9 {
  flex: 0 0 calc(100% / 9 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-9 {
    flex: 0 0 100%;
  }
}

.col-1-of-9--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 9 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-9--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-9 {
  flex: 0 0 calc(100% / 9 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-9 {
    flex: 0 0 100%;
  }
}

.col-2-of-9--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 9 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-9--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-9 {
  flex: 0 0 calc(100% / 9 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-9 {
    flex: 0 0 100%;
  }
}

.col-3-of-9--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 9 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-9--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-4-of-9 {
  flex: 0 0 calc(100% / 9 * 4   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-4-of-9 {
    flex: 0 0 100%;
  }
}

.col-4-of-9--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 9 * 4);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-4-of-9--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-5-of-9 {
  flex: 0 0 calc(100% / 9 * 5   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-5-of-9 {
    flex: 0 0 100%;
  }
}

.col-5-of-9--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 9 * 5);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-5-of-9--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-6-of-9 {
  flex: 0 0 calc(100% / 9 * 6   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-6-of-9 {
    flex: 0 0 100%;
  }
}

.col-6-of-9--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 9 * 6);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-6-of-9--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-7-of-9 {
  flex: 0 0 calc(100% / 9 * 7   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-7-of-9 {
    flex: 0 0 100%;
  }
}

.col-7-of-9--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 9 * 7);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-7-of-9--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-8-of-9 {
  flex: 0 0 calc(100% / 9 * 8   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-8-of-9 {
    flex: 0 0 100%;
  }
}

.col-8-of-9--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 9 * 8);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-8-of-9--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-9-of-9 {
  flex: 0 0 calc(100% / 9 * 9   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-9-of-9 {
    flex: 0 0 100%;
  }
}

.col-9-of-9--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 9 * 9);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-9-of-9--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-10 {
  flex: 0 0 calc(100% / 10 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-10 {
    flex: 0 0 100%;
  }
}

.col-1-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-10 {
  flex: 0 0 calc(100% / 10 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-10 {
    flex: 0 0 100%;
  }
}

.col-2-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-10 {
  flex: 0 0 calc(100% / 10 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-10 {
    flex: 0 0 100%;
  }
}

.col-3-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-4-of-10 {
  flex: 0 0 calc(100% / 10 * 4   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-4-of-10 {
    flex: 0 0 100%;
  }
}

.col-4-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 4);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-4-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-5-of-10 {
  flex: 0 0 calc(100% / 10 * 5   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-5-of-10 {
    flex: 0 0 100%;
  }
}

.col-5-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 5);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-5-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-6-of-10 {
  flex: 0 0 calc(100% / 10 * 6   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-6-of-10 {
    flex: 0 0 100%;
  }
}

.col-6-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 6);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-6-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-7-of-10 {
  flex: 0 0 calc(100% / 10 * 7   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-7-of-10 {
    flex: 0 0 100%;
  }
}

.col-7-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 7);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-7-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-8-of-10 {
  flex: 0 0 calc(100% / 10 * 8   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-8-of-10 {
    flex: 0 0 100%;
  }
}

.col-8-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 8);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-8-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-9-of-10 {
  flex: 0 0 calc(100% / 10 * 9   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-9-of-10 {
    flex: 0 0 100%;
  }
}

.col-9-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 9);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-9-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-10-of-10 {
  flex: 0 0 calc(100% / 10 * 10   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-10-of-10 {
    flex: 0 0 100%;
  }
}

.col-10-of-10--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 10 * 10);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-10-of-10--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-11 {
  flex: 0 0 calc(100% / 11 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-11 {
    flex: 0 0 100%;
  }
}

.col-1-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-11 {
  flex: 0 0 calc(100% / 11 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-11 {
    flex: 0 0 100%;
  }
}

.col-2-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-11 {
  flex: 0 0 calc(100% / 11 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-11 {
    flex: 0 0 100%;
  }
}

.col-3-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-4-of-11 {
  flex: 0 0 calc(100% / 11 * 4   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-4-of-11 {
    flex: 0 0 100%;
  }
}

.col-4-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 4);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-4-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-5-of-11 {
  flex: 0 0 calc(100% / 11 * 5   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-5-of-11 {
    flex: 0 0 100%;
  }
}

.col-5-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 5);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-5-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-6-of-11 {
  flex: 0 0 calc(100% / 11 * 6   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-6-of-11 {
    flex: 0 0 100%;
  }
}

.col-6-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 6);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-6-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-7-of-11 {
  flex: 0 0 calc(100% / 11 * 7   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-7-of-11 {
    flex: 0 0 100%;
  }
}

.col-7-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 7);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-7-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-8-of-11 {
  flex: 0 0 calc(100% / 11 * 8   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-8-of-11 {
    flex: 0 0 100%;
  }
}

.col-8-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 8);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-8-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-9-of-11 {
  flex: 0 0 calc(100% / 11 * 9   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-9-of-11 {
    flex: 0 0 100%;
  }
}

.col-9-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 9);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-9-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-10-of-11 {
  flex: 0 0 calc(100% / 11 * 10   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-10-of-11 {
    flex: 0 0 100%;
  }
}

.col-10-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 10);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-10-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-11-of-11 {
  flex: 0 0 calc(100% / 11 * 11   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-11-of-11 {
    flex: 0 0 100%;
  }
}

.col-11-of-11--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 11 * 11);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-11-of-11--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-1-of-12 {
  flex: 0 0 calc(100% / 12 * 1   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-1-of-12 {
    flex: 0 0 100%;
  }
}

.col-1-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 1);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-1-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-2-of-12 {
  flex: 0 0 calc(100% / 12 * 2   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-2-of-12 {
    flex: 0 0 100%;
  }
}

.col-2-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 2);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-2-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-3-of-12 {
  flex: 0 0 calc(100% / 12 * 3   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-3-of-12 {
    flex: 0 0 100%;
  }
}

.col-3-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 3);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-3-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-4-of-12 {
  flex: 0 0 calc(100% / 12 * 4   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-4-of-12 {
    flex: 0 0 100%;
  }
}

.col-4-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 4);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-4-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-5-of-12 {
  flex: 0 0 calc(100% / 12 * 5   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-5-of-12 {
    flex: 0 0 100%;
  }
}

.col-5-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 5);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-5-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-6-of-12 {
  flex: 0 0 calc(100% / 12 * 6   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-6-of-12 {
    flex: 0 0 100%;
  }
}

.col-6-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 6);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-6-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-7-of-12 {
  flex: 0 0 calc(100% / 12 * 7   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-7-of-12 {
    flex: 0 0 100%;
  }
}

.col-7-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 7);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-7-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-8-of-12 {
  flex: 0 0 calc(100% / 12 * 8   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-8-of-12 {
    flex: 0 0 100%;
  }
}

.col-8-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 8);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-8-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-9-of-12 {
  flex: 0 0 calc(100% / 12 * 9   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-9-of-12 {
    flex: 0 0 100%;
  }
}

.col-9-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 9);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-9-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-10-of-12 {
  flex: 0 0 calc(100% / 12 * 10   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-10-of-12 {
    flex: 0 0 100%;
  }
}

.col-10-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 10);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-10-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-11-of-12 {
  flex: 0 0 calc(100% / 12 * 11   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-11-of-12 {
    flex: 0 0 100%;
  }
}

.col-11-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 11);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-11-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.col-12-of-12 {
  flex: 0 0 calc(100% / 12 * 12   - 1.25rem * 2);
  margin: 0rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  .col-12-of-12 {
    flex: 0 0 100%;
  }
}

.col-12-of-12--no-margin {
  position: relative;
  flex: 0 0 calc(100% / 12 * 12);
  margin: 0 !important;
}

@media only screen and (max-width: 768px) {
  .col-12-of-12--no-margin {
    flex: 0 0 calc(100% - 1.25rem * 2);
  }
}

.spacing-small {
  height: calc(1.25rem / 2);
  display: block;
}

.spacing-regular {
  height: 1.25rem;
  display: block;
}

.spacing-large {
  height: calc(1.25rem * 2);
  display: block;
}

@media only screen and (max-width: 768px) {
  .spacing-large {
    height: calc(2.5rem);
  }
}

.spacing-xl {
  height: calc(1.25rem * 4);
  display: block;
}

@media only screen and (max-width: 768px) {
  .spacing-xl {
    height: calc(1.25rem * 2);
  }
}

.line-hair {
  height: 1px;
  position: relative;
  z-index: 3;
  max-width: 100%;
  background: black;
  border: none;
  box-sizing: border-box;
  transform-origin: left;
}

@media only screen and (max-width: 768px) {
  .line-hair {
    max-width: calc( 100% - 1.25rem * 2);
  }
}

.line-regular {
  height: .5rem;
  position: relative;
  z-index: 3;
  max-width: 100%;
  background: black;
  border: none;
  box-sizing: border-box;
  transform-origin: left;
}

@media only screen and (max-width: 768px) {
  .line-regular {
    height: .2rem;
  }
}

@media only screen and (max-width: 768px) {
  .line-regular {
    max-width: calc( 100% - 1.25rem * 2);
  }
}

.line-large {
  height: .5rem;
  position: relative;
  z-index: 3;
  max-width: 100%;
  background: black;
  border: none;
  box-sizing: border-box;
  transform-origin: left;
}

@media only screen and (max-width: 768px) {
  .line-large {
    height: .3rem;
  }
}

@media only screen and (max-width: 768px) {
  .line-large {
    max-width: calc( 100% - 1.25rem * 2);
  }
}

.line-xl {
  height: 1.6rem;
  position: relative;
  z-index: 3;
  max-width: 100%;
  background: black;
  border: none;
  box-sizing: border-box;
  transform-origin: left;
}

@media only screen and (max-width: 768px) {
  .line-xl {
    height: .5rem;
  }
}

@media only screen and (max-width: 768px) {
  .line-xl {
    max-width: calc( 100% - 1.25rem * 2);
  }
}

.navigation {
  position: fixed;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .navigation {
    text-align: left;
    justify-content: start;
  }
}

.navigation__container {
  height: 85vh;
  margin-top: 7.5vh;
  width: 200px;
  float: right;
}

@media only screen and (max-width: 768px) {
  .navigation__container {
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: calc(100% - 1.25rem * 2);
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: white;
  height: 3rem;
  align-items: center;
}

.navigation__title {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__item {
  margin: calc(1.25rem / 8) 0;
}

.navigation-button {
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 768px) {
  .navigation-button {
    display: flex;
    flex-direction: row-reverse;
  }
}

.navigation-button__label {
  margin-left: 1rem;
  height: .8rem;
  overflow-y: hidden;
  display: block !important;
}

.navigation-button__text {
  transition: .2s ease-in-out;
  -webkit-touch-callout: none;
  user-select: none;
}

.navigation-button__text--opened {
  transform: translateY(0);
}

.navigation-button__text--closed {
  transform: translateY(-50%);
}

.navigation-button__hamburger {
  width: 1rem;
  height: 1rem;
  margin-top: .28rem;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
}

.navigation-button__hamburger span {
  display: block;
  position: absolute;
  height: .06rem;
  width: 100%;
  background: black;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.navigation-button__hamburger span:nth-child(1) {
  top: 0;
}

.navigation-button__hamburger span:nth-child(2) {
  top: .25rem;
}

.navigation-button__hamburger span:nth-child(3) {
  top: .5rem;
}

.navigation-button__hamburger.open span:nth-child(1) {
  top: .3rem;
  transform: rotate(135deg);
}

.navigation-button__hamburger.open span:nth-child(2) {
  opacity: 0;
}

.navigation-button__hamburger.open span:nth-child(3) {
  top: .3rem;
  transform: rotate(-135deg);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7.5vh;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
    margin-bottom: 5vh;
  }
}

.header {
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .header {
    height: auto;
    margin-top: 1rem;
  }
}

.header__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  flex-direction: column;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  .header__content {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
    margin-bottom: calc(1.25rem * 6) 0;
  }
}

@media only screen and (max-width: 768px) {
  .header__content {
    transform: translateY(0);
  }
}

.header__heading--offset {
  margin-left: 20%;
}

@media only screen and (max-width: 768px) {
  .header__heading--offset {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .header__line {
    display: none;
  }
}

.work-item {
  margin: calc(1.25rem / 2) 0;
}

.work-item__image {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.work-item__image--media {
  width: inherit;
  display: block;
}

@media only screen and (max-width: 768px) {
  .work-item__image--media {
    margin: calc(1.25rem / 4) 0;
  }
}

.work-item__image--hidder {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  transform-origin: bottom;
}

.work-item__info {
  height: 100%;
  overflow: visible;
  float: right;
  text-align: right;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .work-item__info {
    display: flex;
    text-align: left;
    float: left;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
}

.work-item__tags {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .work-item__tags {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.work-item__tag {
  margin-left: 1.25rem;
}

@media only screen and (max-width: 768px) {
  .work-item__tag {
    margin-left: calc(1.25rem / 2);
  }
}

.work-item__title {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .work-item__title {
    position: static;
  }
}

.contact {
  margin-bottom: 2.5rem;
}

.contact__wrapper {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.red {
  color: red;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.about {
  margin: 7.5vh 0;
}

.exhibition__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .exhibition__name {
    text-transform: uppercase;
  }
}

.exhibition__location {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .exhibition__location {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */