*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  *::-webkit-scrollbar{display: none;}
}

html{
  @include respond(xxxl) {font-size: $xxxl-scale;}
  @include respond(xxl) {font-size: $xxl-scale;}
  @include respond(xl) {font-size: $xl-scale;}
  @include respond(l) { font-size: $l-scale;}
  @include respond(md) { font-size: $md-scale;}
  @include respond(sm) {font-size: $sm-scale;}
}

body {
  box-sizing: border-box;
  overflow-x: hidden;

  &::-webkit-scrollbar {display: none;}
}

.App{
  margin-left: auto;
  margin-right: auto;
  width: $page-width;

  @include respond(sm) {
    margin: 0 $gutter-vertical;
    width: 100%;

  }
}

li{
  list-style: none;
}

a { 
  text-decoration: none;
  color: inherit; 
} 



.wrapper{
  position: relative;
  display: inline-block;
  overflow-y: hidden;

}

.no-mobile{
  @include respond(sm) {display: none;} 
}

.no-desktop{
  display: none;
  @include respond(sm) {display:initial;} 
}




