@font-face {
  font-family: 'euclid_flexbold';
  src:  url('../../assets/fonts/euclidflex-bold-webfont.woff') format('woff'),
        url('../../assets/fonts/euclidflex-bold-webfont.woff2') format('woff2');  
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'euclid_flexregular';
  src: url('../../assets/fonts/EuclidFlex-Regular_webfont.woff2') format('woff2'),
       url('../../assets/fonts/euclidflex-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.primary-heading{
  font-family: 'euclid_flexbold';
  text-transform: uppercase;
  font-size: 14.552rem;
  line-height: 1;

  &--bold{font-family: 'euclid_flexbold';}

  @include respond(sm) {font-size: 5.96rem} 
}

.secondary-heading{
  font-family: 'euclid_flexregular';
  text-transform: uppercase;
  font-size: 7.451rem;
  line-height: 1;

  &--bold{font-family: 'euclid_flexbold';}

  @include respond(sm) {font-size: 1.953rem} 
}

.tertiary-heading{
  font-family: 'euclid_flexregular';
  text-transform: uppercase;
  font-size: 5.96rem;
  line-height: 1;

  &--bold{font-family: 'euclid_flexbold';}

  @include respond(sm) {font-size: 2.441rem} 
}

.regular-text{
  font-family: 'euclid_flexregular';
  font-size: 1.563rem;
  

  &--bold{font-family: 'euclid_flexbold';}

  @include respond(sm) {
    font-size: .8rem;
    line-height: 1.2;
  } 
}

@for $i from 1 through 7{
  .openTypeStyle#{$i}{font-feature-settings: 'ss0#{$i}'}
}
.openTypeStyle11{font-feature-settings: 'ss11'}