

//page
$page-width: 75rem;

//Grids
$gutter-vertical: 1.25rem;
$gutter-horizontal: 0rem;

//Breakpoints
$xxxl: 2000px;
$xxl: 1400px;
$xl: 1200px;
$l: 1024px;
$md: 768px;
$sm: 540px;

//Font Scaling
$xxxl-scale: 110%;
$xxl-scale: 90%;
$xl-scale: 70%;
$l-scale: 60%;
$md-scale: 50%;
$sm-scale: 100%;
  