.contact{
  margin-bottom: 2.5rem;

  &__wrapper{
    display: flex;
    flex-direction: row;
    background-color: red;
  }

  &__link{
    display: block;
  }
}

.red{color: red;}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
 
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}